body {
    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
}

.banner {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    margin-bottom: 5px;

}